<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/mian.css" rel="stylesheet"/>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/world.js"></script>
</head>
<body>
    <div id="title">航班数据查询</div>
    <div id="f1">
        左边选择
        <input type="text" name="Select Date">
	    <input type="text" name="Select flight">
	    <input type="submit" value="Submit">
    </div>
    <script src="../static/js/selectflight.js"></script>
    <div id="f2">中上显示</div>
    <script src="../static/js/flightmap.js"></script>
    <div>中下显示</div>
</body>
</html>
<?---
layout: examples
title: Dashboard Template
extra_css: "dashboard.css"
extra_js:
  - "https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
  - "dashboard.js"
--->